<!DOCTYPE html>
<html>

{% extends "staff.html" %}
{% block content %}


<h3>Add a New Borrower</h3><br>

<!--A form to enter details for a new borrower.
The information entered will be sent to newborrower.html
to allow users to confirm the information entered.-->

<form class="form" action="/staff/newborrower" method="POST">
    <label for="firstname">First Name:</label>
    <input class="input-field" type="text" id="firstname" name="firstname">
  
    <label for="familyname">Family Name:</label>
    <input class="input-field" type="text" id="familyname" name="familyname">
  
    <label for="dobirth">Date of Birth:</label>
    <input class="input-field" type="date" id="dobirth" name="dobirth" placeholder="dd/mm/yyyy"
    min="1900/01/01" max="2100/12/31"><br>

    <label for="housenum">House Number:</label>
    <input class="input-field" type="text" id="housenum" name="housenum">

    <label for="street">Street:</label>
    <input class="input-field" type="text" id="street" name="street">

    <label for="town">Town:</label>
    <input class="input-field" type="text" id="town" name="town"><br>

    <label for="city">City:</label>
    <input class="input-field" type="text" id="city" name="city">

    <label for="pcode">Postal Code:</label>
    <input class="input-field" type="text" id="pcode" name="pcode"><br>
  
    <input class="submit" type="submit" value="Add">
    <input class="input-field"type="reset" value="Reset" />
</form> 

<style>
    .input-field {
      margin: 10px;
    }
    .form {
      display: block;
      margin: 10px auto;
    }
    .submit {
      margin: 10px 10px;
      background-color: #f9e486;
    }
</style>

{% endblock %}