<!DOCTYPE html>
<html>
  

{% extends "staff.html" %}
{% block content %}

<body>
   <h4>Return Book</h4>
   <h5>Return a Book that has been on loan</h5>
   <hr><br>
   
   
   <form id="returnbook" name="returnbook" action="/staff/returnbook" method="POST">
    <label for="returnbook">Books on Loan:</label>
    <select id="returnbook" name="returnbook" required>
        <option selected disabled value="">Please select a book to return</option>
        <!-- set to get menu options that are combined with copyid, booktitle, author and format -->
        {% for loanbook in onloanlist %}
        {% set copyid = loanbook[0] | string %}
        {% set book = loanbook[3] %}
        {% set author = loanbook[4] %}
        {% set format = loanbook[2] %}
        {% set loanlist = "Copy ID: " + copyid + " || " + book + " || " + author +" || " + format %}
        <!-- the options in the box are arranged by bookcopyid -->
        <option value="{{ loanbook[0] }}">
            {{ loanlist }}
        </option>
      {% endfor %}
  </select><br><br>

  <p>
    <!-- when the form is submitted, the system will get the current date -->
    <input class="submit" type="submit" value="Return this one"/>
    <input type="reset" value="Reset" />
 </p>
  </form>

  <style>
    .submit {
      background-color: #f9e486;
      margin: 10px;
    }
</style>

{% endblock %}