<!DOCTYPE html>
<html>


{% extends "staff.html" %}
{% block content %}

<!--keep the search function displayed for quick access-->
<h5 style="text-align: center; margin: 10px;"> Search a Book </h5>
<!-- two search boxes combined with "and" or "or" -->
<form class="form" action="/staff/searchbook" style="text-align: center;" method="POST">
    by <input type="text" name="staffsearch1" id="staffsearch1" placeholder="Title">
    <select name="staffop" id="staffop">
      <option value="or" id="or">or</option>
      <option value="and" id="and">and</option>
    </select>
    <input type="text" name="staffsearch2" id="staffsearch2" placeholder="Author"><br><br>
    <input type="submit" value="Submit">
  </form>

<!-- code in here to display searched books-->
<h5><b>Choose a Book to Check Availablity</b></h5>

<form id="staffsearch" name="staffsearch" action="/staff/searchresult" method="POST">
   <label for="searchlabel"> Books available:</label>
   <!-- a drop down box to display books matching the search result-->
   <select id="staffselect" name="staffselect" required>
       <option selected disabled value="">---- select a book ----</option>
       {% for book in booklist %}
    <!-- the options in the box are arranged by bookcopyid -->
       <option value="{{ book[0] }}">
        <!-- booktitle displayed -->
           {{ book[1] }}
       </option>
       {% endfor %}
    </select>
    <input type="submit" value="Check" />
</form>

<hr>

<table class="table table-striped table-hover">
    <thead>
       <tr>
         <th scope="col">Book ID</th>
         <th scope="col">Title</th>
         <th scope="col">Author</th>
         <th scope="col">Type</th>
         <th scope="col">Year of Publication</th>
         <th scope="col">Description</th>
       </tr>
    </thead>
    
    <tbody>
        <h5><b>Search results</b></h5>
       {% for book in booklist %}
           <tr>
               {% for entry in book %}
                   <td>{{entry}}</td>
               {% endfor %}
           </tr>
       {% endfor %}
    </tbody>
</table>

{% endblock %}