<!DOCTYPE html>
<html>

<!--Student Name: Haibei(Carol) Song-->
<!--Student ID: 1154836-->

{% extends "staff.html" %}
{% block content %}

<h4>Loan Summary</h4>
<h5>Number of times each book has been loaned in total</h5>

<!-- make each row in table striped and hoverable-->
<table class="table table-striped table-hover" id="loansuammry" name="loansummary">
    <thead>
       <tr>
        <th scope="col">BookID Title</th>
        <th scope="col">Copy ID</th>
        <th scope="col">Format</th>
        <th scope="col">Author</th>
        <th scope="col">Year of Publication</th>
        <th scope="col">Category</th>
        <th scope="col">Total Loaned</th>
       </tr>
    </thead>
    
    <tbody>
        <tr>
            {% set summary = namespace(id= 0) %}
            {% for book in loansummary %}
            {% set bookid = book[1] | string %}
            {% set booktitle = book[2] %}
            {% set bookname = bookid +"  " + booktitle %}
            {% if summary.id != book[0] %}
            <td>{{ bookname }}</td>
            {% set summary.id = book[0] %}
            {% else %}
            <td></td>
            {% endif %}
        
            <td>{{ book[1] }}</td><td>{{ book[6] }}</td><td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td><td>{{ book[5] }}</td><td>{{ book[7] }}</td>
        </tr>
            {% endfor %}
    </tbody>
</table>
<br><br><br>

<h4>Borrower Summary</h4>
<h5>A list of all borrowers and the number of their total loan times</h5>

<!-- make each row in table striped and hoverable-->
<table class="table table-striped table-hover" id="borrowersuammry" name="borrowersummary">
    <thead>
       <tr>
        <th scope="col">Borrower ID</th>
        <th scope="col">Borrower Name</th>
        <th scope="col">Total Loaned</th>
       </tr>
    </thead>
    
    <tbody>
        {% for borrower in borrowersummary %}
        <tr>
            {% for entry in borrower %}
            <td>{{entry}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}